
@font-face { font-family: Lato ; src: url('fonts/Lato/Lato-Regular.ttf'); } 
@font-face { font-family: "Crimson Text" ; src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf'); } 

html {
    font-size: 10px;
}
.body {
    background-color: #E5E5E5;
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}
.body a{
    text-decoration-line: none;
}
.body a:visited {
    text-decoration-line: none;
}
.body a:hover {
    text-decoration-line: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 998;
    background-size: cover;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;
    transition: 
        background-color 0.5s ease,
        visibility 0.5s ease;
    visibility: hidden;
    
}
.active {
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.950);
}
.menu-overlay {
    width: 100%;
    height: 100%;
    max-height: 500px;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    transition:  visibility 0.3s ease,
                 display 0.3s ease;
    display: none;
    padding-top: 10%;
}
.active-menu {
    visibility: visible;
    display: flex;
}


.menu-list {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}
.menu-spacer {
    height: 10rem;
    min-height: 10vh;
    width: 100%;
    display: block;
}
 .list-item {
     height: 10rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.list-item p {
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 1.7rem;
    margin-bottom: -10px;
    color: rgb(26, 161, 112);
}
.list-item a {
    color: rgba(0, 0, 0, 0.151);
    font-weight: "Regular";
    font-size: 3.5rem;
    font-family: "Lato";
    transition: color 0.5s ease;
    letter-spacing: 5px;
}
@media screen and (max-width: 600px) {
    .list-item a {
        font-size: 4rem;
    }
    .list-item p {
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .list-item a {
        font-size: 3rem;
    }
    .list-item p {
        display: none;
    }
    .list-item {
        height: 5rem;
    }
}

@media screen and (min-width: 2000px){
    .list-item {
        height: 20rem;
    }
}
.list-item a:hover {
    color: rgba(0, 0, 0, 0.877);
}
.request {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
}
@media screen and (min-width: 2000px){
    .request {
        padding-top: 10rem;
    }
}
@media screen and (max-height: 620px) {
    .list-item a {
        font-size: 3rem;
    }
    .list-item p {
        display: none;
    }
    .list-item {
        height: 5rem;
    }
    .menu-spacer {
        display: none;
    }
    .request {
        padding-top: 4rem;
    }
}
.request-btn {
    background-color: rgba(26, 161, 111, 0.849);
    padding: 1.6rem 2rem 1.6rem 2rem;
    display: block;
    text-align: center;
    align-content: center;
    color: rgba(255, 255, 255, 0.925);
    font-weight: "Regular";
    font-size: 1.5rem;
    font-family: "Lato";
    letter-spacing: 1px;
    border-radius: 2px;
}
.social {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Crimson Text";
    font-style: italic;
    color: black;
    padding-top: 2rem;
}
.social a {
    width: 9rem;
    font-family: "Crimson Text";
    font-style: italic;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.747);
    text-align: center;
}

/*
        START OF SHOP OVERLAY
*/

.shop-overlay {
    height: 65vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    visibility: hidden;
    margin: 0;
    background-position-y: top;
    transition: transform 0.5s ease-out,
                visibility 1s ease-out;
    transform: translateY(-100%);
    background-color: rgba(255, 255, 255, 0.950)
}

.active-shop {
    visibility: visible;
    transform: translateY(0%);
    transition: transform 0.5s ease-out,
                visibility 1s ease-out;
}

.shop-slide {
    background-color: rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 100%;
    position: relative;
}

.shop-all-slide {
    height: 12%;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.521);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: "Regular";
    font-size: 2rem;
    font-family: "Lato";
    letter-spacing: 3px;
    transition: all 0.3s ease-out;
}
.shop-all-slide:hover {
    background-color: rgb(26, 161, 112);
    color: whitesmoke;
}


/*
   START OF VISIBLE CONTENT
*/
.header {
    background-color: white;
    width: 100vw;
    height: 7vh;
    min-height: 70px;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 1px 0.2px rgba(0, 0, 0, 0.041);
    color: rgb(0, 0, 0);
    font-weight: light;
    font-size: 20px;
    font-family: "Lato";
}

.left-nav {
    height: 7vh;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding-left: 3rem;
    padding-top: 1rem;
}
.menu {
    width: 100px;
    height: auto;
    color: rgb(0, 0, 0);
}
.shop {
    max-width: 100px;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 99, 71, 0);
    cursor: pointer;
}

.home {
    height: 6vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 40%;
    height: 80%;
}
.right-nav {
    height: 7vh;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
    padding-top: 1rem;
}
.search {
    width: 100px;
    height: auto;
    
}
.cart {
    width: 100px;
    height: auto;
    color: rgb(0, 0, 0);
}

/*START OF CONTENT */
.content-container {
    background-color: #E5E5E5;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.start-home{
    background-image: url(images/frontslide1.jpg);
    background-position: center;
    background-size: cover;
    width: 95%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 95vh;
    position: fixed;
}
.start-spacer {
    height: 95vh;
    width: 95%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    z-index: 5;
    background-color: #FFF;
    opacity: 0;

}


.front-about {
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    position: relative;
    
}

@media screen and (max-width: 800px) {
    .front-about {
      flex-direction: column;
      height: max-content;
      align-items: center;
    }
    .left-front-about {
        padding: 0;
        justify-content: center;
    }
    .right-front-about {
        padding: 0;
    }
  }
.left-front-about {
    width: 50%;
    display: flex;
    flex: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10rem;
    padding-top: 3rem;
    font-family: "Crimson Text";
    font-weight: regular;
    font-size: 22px;
}

.right-front-about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: "Crimson Text";
    font-weight: regular;
    font-size: 18px;
    
}
.right-front-about h4 {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-weight: light;
    font-size: 16px;
    font-family: "Lato";
}
.right-front-about p {
    margin-top: -20px;
}
.front-gallery {
    background-color: #E5E5E5;
    width: 88%;
    padding-right: 6vw;
    padding-left: 6vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
}

.front-gallery-header {
    background-color: #E5E5E5;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}
.front-gallery-header p {
    text-align: center;
    font-family: "Lato";
    font-size: 2.5rem;
    letter-spacing: 2px;
}
.front-gallery-nav {
    background-color: #E5E5E5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 3vh;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato";
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.sort-by {
    font-family: "Lato";
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.right-sort {
    display: flex;
    flex-direction: row;
    font-family: "Lato";
    font-size: 1.5rem;
    letter-spacing: 2px;    
}
.all-films{}

.all-stories {
    width: 20rem;
    justify-content: flex-end;
    text-align: end;
}
@media screen and (max-width: 500px) {
    .front-gallery-nav {
        flex-direction: column;
        height: 12rem;
        justify-content: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .right-sort {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .sort-by {
        border-bottom: 1px solid rgb(82, 80, 80);
        width: 100%;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.2rem
    }
    .all-films{
        width: auto;
        justify-content: flex-end;
        text-align: left;
        border-bottom: 1px solid rgb(82, 80, 80);
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.2rem;
    }
    .all-stories {
        width: auto;
        justify-content: end;
        text-align: left;
        border-bottom: 1px solid rgb(82, 80, 80);
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.2rem
    }
}
.front-gallery-items {
    background-color: #E5E5E5;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;    
}
@media screen and (max-width: 500px) {
    .front-gallery-items {
        width: 100%;
        margin: 0;
    }
}
.front-gallery-panel {
    width: 38vw;
    max-width: 600px;
    height: 65vh;
    max-height: 700px;
    background-color: white;
    margin-top: 3rem;   
    color: transparent;
    transition: all 0.1s ease;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.panel-image {
    height: 65%;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 2;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.4s ease;
}
#read-more {
    color: transparent;
    font-size: 30px;
    font-weight: 200;
    opacity: 1;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-gallery-panel:hover #read-more {
    font-family: "Lato";
    color: rgb(26, 161, 112);
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.692);
    letter-spacing: 6px;
}
.front-gallery-panel:hover .panel-image{
    background-position-y: 55%;
    background-position-x: 55%;
    position: relative;
}
.front-gallery-panel:hover .panel-bar{
    background-color: rgba(55, 170, 74, 0.39); ;
}


.panel-bar {
    height: 35%;
    min-height: max-content;
    max-height: 45%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.bar-container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.writer-cat {
    flex: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.artist {
    color: rgb(100, 100, 100);
    font-size: 1.1rem;
    font-family: Lato;
    letter-spacing: 1.5px;

}
.categ {
    color: rgb(0, 0, 0);
    font-weight: light;
    font-size: 1.1rem;
    font-family: "Lato";
    padding-left: 5px;
    letter-spacing: 1.5px;
}

.article{
    color: rgb(0, 0, 0);
    width: 25rem;
    font-family: "Crimson Text";
    font-weight: regular;
    font-size: 1.8rem;
    margin-top: 1rem;
    border-bottom: 2.5px solid rgb(26, 161, 112);
    letter-spacing: 1.5px;
}

.description{
    margin: 0;
    flex: 1;
    color: rgb(0, 0, 0);
    font-weight: light;
    font-size: 1.2rem;
    font-family: "Lato";
    margin-top: 5px;
    letter-spacing: 1.5px;
}
.date{
    text-align: end;
    flex: 2;
    position: relative;
    font-family: "Crimson Text";
    font-size: 1.3rem;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .front-gallery-items {
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
    .front-gallery-panel {
        width: 90%;
        max-width: 500px;
    }
    .panel-image {
        flex: 2;
    }
    .panel-bar {
        flex: 2;
    }
    .description{
        font-size: 11px;
    }
    .article {
        font-size: 15px;
        width: 15rem;
    }
    .date {
        font-size: 11px;
    }
  }

.see-all {
    width: 100%;
    height: 10vh;
    background-color: #E5E5E5;
    text-align: center;
    padding-top: 3rem;
}
.panel1 {background-image: url(images/panel1.jpg);}
.panel2 {background-image: url(images/panel2.jpg);}
.panel3 {background-image: url(images/panel3.jpg);}
.panel4 {background-image: url(images/panel4.jpg);}
.panel5 {background-image: url(images/panel7.jpg);}
.panel6 {background-image: url(images/panel6.jpg);}
/* 
        END OF CONTENT
        START OF FOOTER
*/
.footer {
    background-color: rgb(205, 92, 92);
    width: 100%;
    height: 250px;
    position: relative;
}
